@page
@model EmployeeManagement.Pages.Employee.IndexModel
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees List</h1>
<hr/>
<a asp-page="Create" class="btn btn-success float-end">Create</a>
<table class="table table-responsive table-striped table-hover align-middle" >
    <thead>
        <tr class="text-center">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model.Employees)
        {
            <tr class="text-center">
                <td>@Html.DisplayFor(model => employee.FirstName)</td>
                <td>@Html.DisplayFor(model => employee.LastName)</td>
                <td>@Html.DisplayFor(model => employee.DateOfBirth, "DateTimeDisplay")</td>
                <td>@Html.DisplayFor(model => employee.Age)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@employee.EmployeeId" class="btn btn-primary">Edit</a>
@*                     <a class="btn btn-success">Details</a>
 *@                    <a asp-page="./Delete" asp-route-id="@employee.EmployeeId" class="btn btn-danger">Delete</a>

                </td>

            </tr>
        }
    </tbody>

</table>
